@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/modal.css";
@import "components/weather.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/splash.css";
@import "screens/setting_friends.css";
@import "screens/setting_version.css";
@import "screens/profile.css";
@import "screens/setting_chats.css";
@import "screens/setting_privacy.css";
@import "screens/setting_notification.css";
@import "screens/setting_kokoaLab.css";
html {
  min-width: 320px;
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
  padding-top: 20px;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
