.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}
.screen-header__icons__more {
  background-color: tomato;
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 70px;
  bottom: 22px;
}

.screen-header__icons__cog {
  background-color: tomato;
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 120px;
  bottom: 22px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* 마우스 커서가 요소 위에 올라가 있으면 작동 */
/* linear 는 애니메이션 효과가 처음부터 끝까지 일정한 속도로 진행 */
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
