.showing {
  display: block;
}

.js-weather {
  display: flex;
  position: absolute;

  align-items: center;
  flex-direction: column;
}

.weather__banner {
  display: none;
}

.weather__error {
  display: none;
}

.js-weather .weather__banner {
  display: flex;
  align-items: center;
  font-size: 23px;
}
